# Modeling - Given these features, what model works best?

## Here you can actually test assumptions
1. Linearity by residuals vs predicted plot.
2. Homoscedasticity with spread of residuals vs predicted.
3. Normality of errors with Q-Q plot of residuals.
4. Independence with residuals vs time/order.
5. Multicollinearity with VIF, condition number.
6. Influential points with Cook's distance.

## They require predictions, residuals, fitted model parameters so they belong to modeling.ipynb.

In [1]:
# 3rd Party
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# linear_regression_001
from linear_regression_001.data.loader import load_raw_data
from linear_regression_001.features.build_features import split_features_target, build_features, build_preprocessor, FEATURE_LIST
from linear_regression_001.utils.paths import FEATURES,PROCESSED,MODELS
from linear_regression_001.models import train_models, predict, evaluate, evaluate_model

# Baseline Model
from sklearn.dummy import DummyRegressor

# Pipeline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import KFold, cross_val_score
from sklearn.metrics import r2_score as r2

In [5]:
df = load_raw_data("insurance.csv")
X, y = split_features_target(df)
X

*normalized*
*missing checked*
*schema enforced*

      age     sex     bmi  children smoker     region
0      19  female  27.900         0    yes  southwest
1      18    male  33.770         1     no  southeast
2      28    male  33.000         3     no  southeast
3      33    male  22.705         0     no  northwest
4      32    male  28.880         0     no  northwest
...   ...     ...     ...       ...    ...        ...
1333   50    male  30.970         3     no  northwest
1334   18  female  31.920         0     no  northeast
1335   18  female  36.850         0     no  southeast
1336   21  female  25.800         0     no  southwest
1337   61  female  29.070         0    yes  northwest

[1338 rows x 6 columns]

In [7]:
X_features_built = build_features(X,FEATURE_LIST)
X_features_built

      age     bmi  children     region smoker     sex  bmi_smoker
0      19  27.900         0  southwest    yes  female       27.90
1      18  33.770         1  southeast     no    male        0.00
2      28  33.000         3  southeast     no    male        0.00
3      33  22.705         0  northwest     no    male        0.00
4      32  28.880         0  northwest     no    male        0.00
...   ...     ...       ...        ...    ...     ...         ...
1333   50  30.970         3  northwest     no    male        0.00
1334   18  31.920         0  northeast     no  female        0.00
1335   18  36.850         0  southeast     no  female        0.00
1336   21  25.800         0  southwest     no  female        0.00
1337   61  29.070         0  northwest    yes  female       29.07

[1338 rows x 7 columns]

In [ ]:
# build dataset and preprocessor
df = pd.concat([X_features_built,y],axis=1)
preprocessor = build_preprocessor()
df

      age     bmi  children     region smoker     sex  bmi_smoker      charges
0      19  27.900         0  southwest    yes  female       27.90  16884.92400
1      18  33.770         1  southeast     no    male        0.00   1725.55230
2      28  33.000         3  southeast     no    male        0.00   4449.46200
3      33  22.705         0  northwest     no    male        0.00  21984.47061
4      32  28.880         0  northwest     no    male        0.00   3866.85520
...   ...     ...       ...        ...    ...     ...         ...          ...
1333   50  30.970         3  northwest     no    male        0.00  10600.54830
1334   18  31.920         0  northeast     no  female        0.00   2205.98080
1335   18  36.850         0  southeast     no  female        0.00   1629.83350
1336   21  25.800         0  southwest     no  female        0.00   2007.94500
1337   61  29.070         0  northwest    yes  female       29.07  29141.36030

[1338 rows x 8 columns]

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [2]:
# Train both baseline and LinearRegression
train_models()

Val RMSE:  4572.811239354664
Training complete. Models saved.

In [ ]:
# Predict with Model
# Open models
baseline_model = joblib.load(MODELS / "baseline.pkl")
linear_regression_model = joblib.load(MODELS / "linear_regression.pkl")

In [3]:
# Baseline Model -- Predict Mean of y or simple linear regression w/o tuning
baseline_model = DummyRegressor(strategy='mean') # predicts the mean of y_train
baseline_model.fit(X_train,y_train)
baseline_preds = baseline_model.predict(X_test)

In [4]:
# Baseline Evaluation
evaluate(y_test, baseline_preds, "Baseline Model")

Baseline Model Performance
-------------------------
MAE: 9861.7979
RMSE: 13612.4260
R^2: -0.0084

In [ ]:
# Train Model

In [ ]:
# Evaluation